.main-content {
    flex: 1;
    box-sizing: border-box;
    width: 94%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
}